@mixin center {
    justify-content:center;
    align-items:center;
}

html, body {
    font-family:Helvetica;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

iframe {
    display:block;
    width:100%;
    height:fit-content;
}

iframe > #document > html > body {
    height:1%;
}



.container {
    height: 100%;
    width: 100%;
}

.pokemon {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    background:salmon;
    height:80vh;
    overflow:scroll;
}

a > img {
    max-width:100%;
    max-height:100%;
    border-radius:0.75em;
    box-shadow: 5px 15px 25px black;
}

.cards {
    display:flex;
    @include center;
    flex-direction:column;
    margin:5%;
    width:10%;
    height: 20%;
}



.footer {
    display:flex;
    @include center;
    flex-direction:column;
    height:25vh;
    background:rgb(43, 43, 109);
    color:white;

}